.video-player {
    position: relative;
    min-height: 200px;
    background: url('../img/media.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -300px;
    text-align: center;
    align-self: center;
    color: $white;

    &__row {
        align-items: center;
        height: 100%;
    }

    &__btn {
        display: inline-block;
        padding: 10px 0;
        appearance: none;
        background: transparent;
        border: none;
        user-select: none;
        color: $white;
        cursor: pointer;

        &:hover,
        &:active,
        &:visited {
            color: $white;
        }
    }

    &__icon {
        font-size: 3em;
    }

    &__title {
        text-transform: capitalize;
    }
}