.about {
    @include section();

    &__title {
        text-transform: capitalize;
    }

    &__img {
        display: block;
        margin-top: -150px;
        border-radius: 50%;

        @media (max-width: 992px) {
            margin-top: 0;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}