.info {
    @include section();

    &__item {
        align-self: center;

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__title {
        text-transform: capitalize;
    }

    &__btn {
        text-transform: capitalize;
    }
}