.page-header {
    padding-top: 50px;
    height: 200px;
    background: url('../img/image1.webp');
    background-position: 0 -360px;
    background-attachment: fixed;
    color: $white;
    border-bottom: 1px solid #eee;

    &__container {
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        text-transform: capitalize;
    }
}