#sectionShowcase {

    .carousel-inner {
        padding-left: 0;
    }

    .carousel-item {
        
        &__image {
            display: block;
            width: 100%;
            max-height: calc(50vh - 56px);
            object-fit: cover;
        }
    }

    .carousel-caption {
        display: block;
        margin-bottom: $spacer * 3;

        &--text-left {
            text-align: left;
        }

        &--text-center {
            text-align: center;
        }

        &--text-right {
            text-align: right;
        }

        &__title {
            font-size: 3rem;
            font-weight: 300;
            line-height: 1.2;
            text-transform: capitalize;
        }

        &__text {
            font-size: 1.25rem;
            font-weight: 300;
        }

        &__btn {
            text-transform: capitalize;

            &--danger {
                @include myBtn($type: danger, $size: lg);
            }

            &--primary {
                @include myBtn($type: primary, $size: lg);
            }

            &--success {
                @include myBtn($type: success, $size: lg);
            }
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}