.services {
    @include section();
}

$radius: 4px;

.box {
    border: 1px solid $gray-300;
    border-radius: $radius;

    &__header {
        padding: $spacer 0;
        background: $dark;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        text-align: center;
    }

    &__title {
        display: inline-block;
        color: $white;
        text-transform: capitalize;
    }

    &__body {
        padding: $spacer;
        text-align: center;
    }

    &__price {
        display: block;
        margin: 0 auto;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
    }

    &__list {
        margin-bottom: $spacer * .5;
    }

    &__btn {
        display: block;
        width: 100%;
        text-transform: capitalize;
    }

    &__footer {
        padding: $spacer 0;
        background: $gray-300;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        text-align: center;
        text-transform: capitalize;
        color: $gray-600;
    }
}