.staff {
    @include section();
    background: $dark;
    color: $white;

    &__title {
        margin-bottom: $spacer * 1.5;
        text-align: center;
        text-transform: capitalize;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 992px) {
            margin-bottom: $spacer * 3;
            flex-basis: 50%;            
        }

        @media (max-width: 576px) {
            flex-basis: 100%;            
        }
    }

    &__img {
        margin-bottom: $spacer;
        border-radius: 50%;
    }

    &__name {
        margin-bottom: $spacer * .5;
        font-size: 1.5rem;
        text-transform: capitalize;
    }

    &__job {
        font-size: .9rem;
        text-transform: capitalize;
    }
}