.main-footer {
    margin-top: $spacer * 3;
    padding: $spacer * 3;
    background: $dark;
    color: $white;

    &__copy {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 300;
    }
}