.widgets {

    &__item {
        margin-bottom: $spacer;
        text-align: center;  
        color: $white;
        
        &--primary {
            background: $primary;
        }

        &--success {
            background: $success;
        }

        &--warning {
            background: $warning;
        }
    }

    &__title {
        text-transform: capitalize;
    }

    &__box {
        margin: $spacer 0;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        fill: $white;    
    }

    &__info {
        font-family: var(--bs-font-sans-serif);
        font-size: 4rem;
        font-weight: 300;
    }
}