.main-header {
    padding: $spacer * .5 0;
    background: $primary;
    color: $white;
    text-transform: capitalize;

    &--success {
        background: $success;
    }

    &--warning {
        background: $warning;
    }

    &__title {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: $spacer * .25;
		width: $spacer * 3;
		height: $spacer * 3;
        fill: $white;
    }
}